body {
    margin: 0px;
}

p {
    background-color:#F0F0F0;
    padding:8px;
    margin:8px 0px 8px 0px;
}

.header {
    background-color:#CCC;
    width:100%;
    top:0;
    left:0;
    z-index:200;
    position:relative;

}

.fixed + div:before {
    content:"";
    display:block;
    height:1px;
}

.header h2 {
    z-index:100;
    padding:20px;
}

.header:not(.fixed) h2 {
    margin:0px;
}

.header:not(.fixed) h2:before {
    content:"";
    display:block;
    height:20px;
}

.header:not(.fixed) h2:after {
    content:"";
    display:block;
    height:20px;
}

.fixed {
    position:fixed;
    z-index:1
}
